@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #060709;
  --primary: #f9d619;
  --secondary: #e5172c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-marhey: var(--font-marhey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060709;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Marhey;
}
