@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #060709;
  --primary: #f9d619;
  --secondary: #e5172c;
  --honey: #f5a80a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-honey: var(--honey);
  --font-marhey: var(--font-marhey);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060709;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Marhey;
}

div::-webkit-scrollbar {
  display: none;
}
.scroll-smooth {
  scroll-behavior: smooth;
}
.strikethrough-diagonal {
  position: relative;
  font-weight: bold;
}

.strikethrough-diagonal:before {
  position: absolute;
  content: "";
  left: 0;
  top: 45%;
  right: 0;
  border-top: 3px solid;
  border-color: red;
  transform: skewY(-10deg);
}
